sudo: false

notifications:
  email: false

branches:
  only:
    - master

script:
  - env docker run -e GO111MODULE="on" -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" -e TRAVIS_BRANCH="$TRAVIS_BRANCH" -it -v `pwd`:/go/src/github.com/onosproject/onos-config onosproject/onos-config-build:stable build



